<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
          crossorigin="anonymous">
    <title>Navigation</title>
</head>
<body>
    <ul class="nav nav-pills nav-fill">
        <li class="nav-item">
            <a class="nav-link" href="/form">Add new employee</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/list">List of employees</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/adminH2">Database (administrator panel)</a>
        </li>
    </ul>
</body>
</html>